@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rowdies:wght@300&family=Satisfy&display=swap');

#nurseMandy{
    width: 700px;
    border-radius: 10px;
}
#aboutTitleBox{
    margin-top: 0px;
}
#aboutTitle{
    font-size: 45px;
}
#aboutTitleText{
    width: 600px;
    line-height: 35px;
}
#aboutCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
#aboutWrapper{
    background-image: url('src/assets/cute-bg-6.jpg');
    background-size: cover;
}
#aboutFounder{
    margin-top: -75px;
    width: 900px;
}
#founderText{
    width: 1200px;
    text-indent: 100px;
    line-height: 36px;
}