#formBox{
    width: 300px;
    height:350px;
    border-radius: 10px;
    flex-shrink: 0;
}
#formTitle{
    font-family: 'Satisfy', cursive;
}
#contactText{
/* font-family: 'Satisfy', cursive; */
font-family: 'Indie Flower', cursive;
font-size: 25px;
/* font-family: 'Jost', sans-serif;  */
/* font-family: 'Montserrat', sans-serif;   */
}
#contactInfoTitles{
    font-family: 'Jost', sans-serif; 
}
#messageInput{
    resize: none;
    width: 100%;
}
#contactButton{
    margin-top: 5px;
    margin-bottom: 10px;
}
@media only screen and (max-width: 1050px){
    #contactBody{
        flex-direction:column-reverse;
    }
}
@media only screen and (max-width:735px){
    #contactBox{
        flex-direction: column;
        margin-left: 10px;
    }
}
@media only screen and (max-width:480px){
    
}