#homeNursePic{
    width: 500px;
}
#homePicBox{
    width: 700px;
}
#wrapperTextBox{
    width: 400px;
    margin-left: -30px;
}
#homeWrapper{
    margin: 0;
    height: 550px;
    width: 100vw;
    background-repeat: no-repeat;
    background-size:cover;
}
#aboutPromise{
    width: 700px;
    font-size: 20px;
    text-indent: 50px;
}
#aboutPromiseTitle{
    font-family:'Satisfy', cursive;
}
#aboutPic{
    height: 300px;
    margin-bottom: 15px;
}