@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rowdies:wght@300&family=Satisfy&display=swap');

@media only screen and (max-width: 600px){
    #titleText{
        /* font-family: 'Indie Flower', cursive; */
        font-family: 'Satisfy', cursive;
        font-size:25px;
        line-height: 3rem;
        text-align: center;
    }
    #logoPic{
        width: 100px;
        height: auto;
    }
    #button{
        height: 50px;
        margin-left: 25px;
        font-size: 20px;
        font-family: 'Rowdies', cursive;
        /* color: white; */
        /* border: solid 1px; */
    }
}