@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rowdies:wght@300&family=Satisfy&display=swap');

@media only screen and (max-width: 800px){
    #titleText{
        /* font-family: 'Indie Flower', cursive; */
        font-family: 'Satisfy', cursive;
        font-size:25px;
        line-height: 25px;
        text-align: center;
    }
    #logoPic{
        width: 100px;
        height: auto;
    }
    #button{
        height: 30px;
        margin-left: 25px;
        font-size: 20px;
        font-family: 'Rowdies', cursive;
        /* color: white; */
        /* border: solid 1px; */
    }
    #logoBox{
        display: flex;
        justify-content: space-evenly;
    }
}
@media only screen and (max-width: 436px){
    #titleText{
        font-size: 20px;
        line-height: 20px;
    }
    #logoPic{
        width: 75px;
        height: auto;
    }
    #button{
        height: 30px;
        margin-left: 0;
    }
}    